{% block contact_grey_block %}
    <div class="grey-block col-xl-7 m-0 col-sm-12">
        <form class="contact-grey-title" method="POST">
            <div class="contact-grey-section">
                {% if errors %}
                    <ul class="alert alert-danger error">
                        {% for error in errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% elseif errors is empty and data is null %}
                    <p class="alert alert-success validated">
                        {{ success }}
                    </p>
                {% endif %}
                <div class="mb-3">
                    <label for="lastname" class="form-label">
                        <span class="text-danger">*</span>Nom</label>
                    <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Merlier" required value="{{ data.lastname }}" aria-required="true" required>
                </div>
                <div class="mb-3">
                    <label for="firstname" class="form-label">
                        <span class="text-danger">*</span>Prénom</label>
                    <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Delphine" required value="{{ data.firstname }}" aria-required="true">
                </div>
                <div class="mb-3">
                    <label for="phone" class="form-label">
                        <span class="text-danger">*</span>Téléphone</label>
                    <input type="tel" class="form-control" id="phone" name="phone" placeholder="06.00.00.00.00." required value="{{ data.phone }}" aria-required="true">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">
                        <span class="text-danger">*</span>Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="jean.tie@poney.com" required value="{{ data.email }}" aria-required="true">
                </div>
                <div class="mb-3">
                    <label for="message" class="form-label">
                        <span class="text-danger">*</span>Message</label>
                    <textarea class="form-control" id="message" name="message" placeholder="Bonjour, ..." rows="3" aria-required="true" required>{{ data.message }}</textarea>
                </div>
                <button class="button">Envoyer</button>
            </div>
        </form>
    </div>
{% endblock %}
