{% block course_tab %}
    <div class="course-tab-section col-xl-8 m-0 col-sm-12">
        <div class="tab-title-text">
            <h2 class="tab-title">
                CONDITIONS
            </h2>
            <p class="tab-text">
                Lorem ipsum dolor sit amet. Sed doloribus id eligendi rerum eos impedit dolore eos excepturi quisquam et corporis Quis At sunt voluptatem ex ullam dolorum. Et corrupti tempore id voluptatibus atque eos itaque enim non impedit laudantium est excepturi sunt et quia saepe! Non accusantium quia id culpa iure sed fugiat optio a reiciendis ipsum eum sunt nostrum.
            </p>
        </div>
        <div class="tab-title-text">
            <h2 class="tab-title">
                INSCRIPTION
            </h2>
            <p class="tab-text">
                Lorem ipsum dolor sit amet. Sed doloribus id eligendi rerum eos impedit dolore eos excepturi quisquam et corporis Quis At sunt voluptatem ex ullam dolorum. Et corrupti tempore id voluptatibus atque eos itaque enim non impedit laudantium est excepturi sunt et quia saepe! Non accusantium quia id culpa iure sed fugiat optio a reiciendis ipsum eum sunt nostrum.
            </p>
        </div>
        <div class="btn-insc">
            <a class="btn-inscription" type="button" href="/CourseForm/inscription">
                JE M'INSCRIS !
            </a>
        </div>
        <h2 class="tab-title">
            DETAILS
        </h2>
        <div class="tab">
            {% for course in courses %}
                <button class="btn-course" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ loop.index }}">
                    {{ course.name }}
                </button>
                <div class="collapse" id="collapse{{ loop.index }}">
                    <div class="card" style="width: 18rem;">
                        <img src="https://picsum.photos/id/1024/300/300" class="card-img-top" alt="Baby Poney Photo">
                        <div class="card-body">
                            <ul class="card-text">
                                <li>
                                    Âge minimum:
                                    {{ course.age }}
                                    an(s)
                                </li>
                                <li>
                                    Durée moyenne:
                                    {{ course.duration | number_format(0) }}
                                    min
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
