{% block course_tab %}
    <div class="course-tab-section col-xl-8 m-0 col-sm-12">
        <div class="tab-title-text">
            <h2 class="tab-title">
                CONDITIONS
            </h2>
            <p class="tab-text">
                A partir de 18 mois pour le Baby-Poney, jusqu'à un haut niveau d'équitation.
                Équipement obligatoire prêté par le Haras pour les plus petits. Pantalon long, bottes et
                casque/bombe obligatoire pour les plus grands.
            </p>
        </div>
        <div class="tab-title-text">
            <h2 class="tab-title">
                INSCRIPTION
            </h2>
            <p class="tab-text">
                Vous souhaitez découvrir le poney en famille, apprendre le dressage de poney tout en s'amusant,
                ou vous initier au trot et au galop pour les plus jeunes? </br>
                Vous souhaitez apprendre la cavalerie, panser, seller, monter à cheval ou encore faire de la compétition ? </br>
                Le Haras du Val de Loire est l'endroit idéal ! </br>
                Pour les nouveaux comme pour les plus chevronés n'hésitez pas à vous inscrire !
            </p>
        </div>
        <div class="btn-insc">
            <a class="btn-inscription" type="button" href="/CourseForm/inscription">
                JE M'INSCRIS !
            </a>
        </div>
        <h2 class="tab-title">
            DÉTAILS
        </h2>
        <div class="tab">
            {% for course in courses %}
                <button class="btn-course" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ loop.index }}">
                    {{ course.name }}
                </button>
                <div class="collapse" id="collapse{{ loop.index }}">
                    <div class="card" style="width: 18rem;">
                        <img src="https://picsum.photos/id/1024/300/300" class="card-img-top" alt="Baby Poney Photo">
                        <div class="card-body">
                            <ul class="card-text">
                                <li>
                                    Âge minimum:
                                    {{ course.age }}
                                    an(s)
                                </li>
                                <li>
                                    Durée moyenne:
                                    {{ course.duration | number_format(0) }}
                                    min
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
